.email-container{
    margin-top: 20vh;
    margin-bottom: 55vh;
}

@media (min-width: 992px){
  .contatos-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
    .email-container{
        background-color: rgba(0, 0, 0, 0.672);
        width: 20vw;
        border-radius: 15px;
    }
    .email-container a{
        font-size: 1.2em;
        
    }
}