.footer{
    background: linear-gradient(to bottom, rgb(0, 0, 0),#121212);
    padding: 1vh;
}

#direitos{
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width: 992px){
    .footer{
        background: linear-gradient(to bottom, #010e24c4,black);
        height:fit-content;
        padding: 2vh;
    }
    #direitos{
        padding-top: 2vh;
        margin-top: 0;
        
    }
    
}