.home-page{
    background-color: #121212;
    height: 100%;
}

.logo-container{
   
    margin-bottom: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
   
}

#logo-home{
    width: 75vw;
    align-items: center;
    opacity: 0;
    animation: fadeInAnimation 2s ease-in-out forwards;
}
.plataformas-container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex: 0 0 auto;
    padding-left: 0;
    margin-bottom: 2vh;
    animation: fadeInAnimation 2s ease-in-out forwards;
    
}
h1{
    margin-top: 5vh;
    margin-bottom: 4vh;
    color: rgb(172, 169, 172);
    margin-left: 3vw;
    animation: fadeInAnimation 2s ease-in-out forwards;
}
.novo-lancamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7vh;
    animation: fadeInAnimation 2s ease-in-out forwards;
}
p{
    color: rgb(172, 169, 172);
    font-size: 0.9em;
    animation: fadeInAnimation 2s ease-in-out forwards;
}
@keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.plataformas-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#escute-p{
    padding-right: 3vw;
}


.plataformas-container ul a{
    padding-right: 3vw;
}

.stream-logo{
    width: 12vw;
}


p{
    color: rgb(172, 169, 172);
    font-size: 1em;
}
p{
    color: rgb(172, 169, 172);
    margin-bottom: 4vh;
    font-size: 1em;
    margin-top: 5vh;
}


.com-voce-clipe{
    width: 90vw;
    height: 50vh;
    border-radius: 15px;
    margin-bottom: 5vh;
}

.social-media-list{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media-container{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#anel-logo{
    width: 90vw;
    border-radius: 10vw;
    margin-top: 3vh;
}

#pre-save-btn{
    background-color:#524572;
    color: #FBFDFD;
    text-decoration: none;
    border-radius: 25px;
    width: 40vw;
    font-size: 1em;
    margin-top: 2vh;
    padding: 3vw;
    border: 1px solid #FBFDFD ;
}

@media (min-width: 992px){
    #anel-logo{
        
        width: 22vw;
        border-radius: 2vw;
    }
    .home-page{
        background:none;
        height: 100%;
    }

    #pre-save-btn{
        background-color:#524572;
        color: #FBFDFD;
        text-decoration: none;
        border-radius: 25px;
        width: 15vw;
        font-size: 1em;
        margin-top: 4vh;
        padding: 1vw;
        border: 1px solid #FBFDFD ;
    }
    .stream-logo{
        width: 4vw;
    }
    .com-voce-clipe{
        width: 40vw;
        border-radius: 15px;
        margin-bottom: 5vh;
    }
      
      p{
        color: rgb(255, 255, 255);
        font-size: 1.1em;
        background-color: rgba(0, 0, 0, 0.102);
        width: fit-content;
        margin:2vh auto;
        padding: 1vw;
        border-radius: 20px;
        
      }
     
}